* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-transform: capitalize;
  font-family: 'Josefin Sans', sans-serif;
  scroll-behavior: smooth;
}

/* styling in navigation bar */

.bg {
  position: absolute;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(image/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  z-index: -1;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 0 0.625rem;
  gap: 2rem;
}

.logo h1 {
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  padding: 0.625rem 0;
}

.nav-list {
  display: flex;
}

.nav-list li {
  list-style: none;
}

.nav-list li a {
  text-decoration: none;
  font-size: 0.9rem;
  margin: 0 0.3125rem;
  padding-bottom: 0.3125rem;
  font-weight: 400;
  color: rgb(255, 255, 255);
}

.nav-list li a:hover {
  border-bottom: 2px solid rgb(255, 0, 0);
}

#home-active a {
  border-bottom: 2px solid rgb(255, 0, 0);
}

/* hamburger section  */

.hamburger {
  display: none;
}

.hamburger .open,
.hamburger .close {
  color: white;
  font-size: 1.3rem;
  font-weight: bold;
}

.hamburger .close {
  font-size: 1.8rem;
  position: absolute;
  top: 0.6875rem;
  right: 0.75rem;
}

/* styling in home section  */

.home-section {
  height: 85vh;
  position: relative;
  display: grid;
  place-content: center;
  text-align: center;
}

.content h4 {
  color: rgb(255, 255, 255);
  font-size: 2.5rem;
  font-weight: bold;
}

.content h1 {
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0.625rem 0;
}

.btn1 {
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-size: 0.9rem;
  background: transparent;
  border: none;
  border-bottom: 2px solid rgb(255, 0, 0);
  padding-bottom: 0.4375rem;
}

/* styling in section  */
.dream-city {
  padding: 1.25rem 0.625rem;
  background-color: rgb(255, 255, 255);
}
.dream-city h1 {
  font-size: 2rem;
  color: rgb(0, 0, 0);
  text-align: center;
  margin: 1.25rem;
}

.dream-section {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(15.68rem, 1fr));
  padding: 1.25rem 0;
}

.dream-box {
  display: grid;
  place-content: center;
}

.dream-box img {
  aspect-ratio: 1.5/1;
  width: 100%;
  border-radius: 10px;
}

.dream-box h1 {
  color: rgb(0, 0, 0);
  font-size: 2rem;
}

.dream-box p {
  color: rgb(0, 0, 0);
  font-size: 1rem;
}

/* styling in visit place */

.visitplace {
  height: max-content;
  position: relative;
}

.visitplace::before {
  content: '';
  position: absolute;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(image/leaves.jpg);
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.visitplace h1 {
  padding: 1.25rem 0 0.625rem 0;
  font-size: 1.8rem;
  color: rgb(255, 255, 255);
  text-align: center;
}

.visit-content {
  padding: 1.25rem 0.625rem;
  display: grid;
  gap: 1rem;
  place-content: center;
  grid-template-columns: repeat(auto-fit, minmax(15.625rem, 1fr));
  text-align: center;
}

.visit-box {
  padding: 1.25rem 0;
}

.visit-box img {
  aspect-ratio: 1.5/1;
  width: 100%;
  border-radius: 10px;
}

.visit-box h1 {
  padding: 0.625rem 0;
  font-size: 2rem;
  color: rgb(255, 255, 255);
}

.visit-box p {
  font-size: 1rem;
  color: rgb(255, 255, 255);
}

/* styling in contact us section */
.contact {
  background-color: rgb(228 228 228);
  padding: 0.625rem 0;
}
.contact h1 {
  font-size: 2rem;
  color: rgb(0, 0, 0);
  text-align: center;
  margin-bottom: 0.625rem;
}

.contact-details {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 0.9375rem;
}

.contact-details h1 {
  color: rgb(0, 0, 0);
  font-size: 1rem;
}

/* styling in footer section */

.footer {
  padding: 0.625rem 0;
  background-color: rgb(0, 0, 0);
  text-align: center;
}

.footer p {
  font-size: 1rem;
  color: rgb(255, 255, 255);
}

/*meadia queries for responsive coding */

@media (max-width: 768px) {
  /* styling in navigation */
  .navbar {
    justify-content: space-between;
  }

  #home a {
    border-bottom: none;
  }

  .nav-list li a:hover {
    border-bottom: none;
  }

  .hamburger {
    display: block;
  }

  .nav-list {
    width: 100%;
    top: -20.5rem;
    display: grid;
    position: absolute;
    place-content: space-evenly;
    height: 12.5rem;
    transition: 0.5s ease-in-out;
    text-align: center;
    z-index: 2;
  }

  .transition {
    top: 3.125rem;
  }

  .logo h1 {
    font-size: 1.3rem;
  }

  /* styling in home content */

  .content h4 {
    font-size: 2rem;
  }

  .content h1 {
    font-size: 1.1rem;
  }

  /* stylin in visit place  */

  .visitplace h1 {
    font-size: 1.5rem;
    padding: 0.625rem 0;
  }

  /* style in contact section */

  .contact h1 {
    font-size: 1.5rem;
  }

  .contact-details h1 {
    font-size: 1.1rem;
  }

  .dream-box h1 {
    font-size: 1.5rem;
  }

  .dream-box p {
    font-size: 0.9rem;
  }
}

@media (max-width: 468px) {
  .content h4 {
    font-size: 1.5rem;
  }

  .content h1 {
    font-size: 0.8rem;
  }

  .visit-box h1 {
    font-size: 1.2rem;
  }
  .visit-box p {
    font-size: 0.8rem;
  }
  .contact-details h1 {
    font-size: 0.9rem;
  }

  .dream-city h1 {
    margin: 0.625rem 0;
  }
  .footer p {
    font-size: 0.8rem;
  }
}
